/* import fonts */
@import "Font/font.css";
@import url('http://fonts.cdnfonts.com/css/edit-undo-brk');

/* meny screen */
.menyTitle {
    /* style */
    width: 50vw;
    height: 6vw;
    border-radius: 30px;
    border-color: rgb(121, 50, 85);
    border-style: solid;
    border-width: 4px;
    background-color: rgb(255, 119, 169);
    /* placement */
    display: block;
    margin: auto;
    margin-top: -35%;
}

.titleText {
    font-family: 'Edit Undo BRK', sans-serif;
    font-size: 5vw;
    color: rgb(255, 240, 235);
    text-align: center;
    margin-top: -10px;
    letter-spacing: 5px;
    text-shadow:
        -5px -5px 0 rgb(121, 50, 85),
        5px -5px 0 rgb(121, 50, 85),
        -5px 5px 0 rgb(121, 50, 85),
        5px 5px 0 rgb(121, 50, 85);

}

.menyScreen {
    /* style */
    width: 50vw;
    height: 25vw;
    border-radius: 40px;
    border-color: rgb(121, 50, 85);
    border-style: solid;
    border-width: 4px;
    background-color: rgb(255, 0, 76);
    /* placement */
    display: block;
    margin: auto;
    margin-top: 2%;
}

.menyText {
    font-family: 'Edit Undo BRK', sans-serif;
    font-size: 4.5vw;
    color: rgb(255, 240, 235);
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow:
        -5px -5px 0 rgb(121, 50, 85),
        5px -5px 0 rgb(121, 40, 85),
        -5px 5px 0 rgb(121, 50, 85),
        5px 5px 0 rgb(121, 50, 85);
}

.textPlacement{
    text-align:center;
    margin-top: -20px;
}

.menyText:hover {
    color:rgb(255, 175, 215);
}